.guide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;

    .skip {
        display: flex;
        justify-content: flex-end;
        padding: 18px 10px 0 0;

        .skipBtn {
            position: relative;
            cursor: pointer;

            img {
                display: flex;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: PingFangSC, PingFang SC;
                font-weight: 400;
                font-size: 14px;
                color: #6F542A;
                line-height: 20px;
            }
        }
    }

    .guideStep1 {

        .guideClaimImg {
            z-index: 1;
        }

        .guideClaimBtn {
            position: absolute;
            left: 50%;
            bottom: 25px;
            transform: translateX(-50%);

            .claimText {
                position: relative;
                margin-bottom: 20px;

                img {
                    display: flex;
                }

                .textStyle {
                    position: absolute;
                    top: -10px;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-family: PingFangSC, PingFang SC;
                    font-weight: 500;
                    font-size: 14px;
                    color: #6F542A;
                    line-height: 20px;

                    p:nth-child(2) {
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }

            .finger {
                position: absolute;
                bottom: -40px;
                right: 40px;
                animation: figureAnim 1.5s linear infinite;
            }
        }
    }

    .guideStep2 {
        
        .claimNumBox {
            display: flex;
            justify-content: flex-start;
            margin-top: 2px;
            position: relative;

            .claimNum {
                position: relative;
            }

            img {
                display: flex;
            }

            span {
                position: absolute;
                top: 2px;
                left: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Alibaba-PuHuiTi, Alibaba-PuHuiTi;
                font-weight: 400;
                font-size: 14px;
                color: #6F542A;
            }
        }

        .guideText {
            position: relative;
            margin-top: 10px;
            margin-left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 342px;
            height: 97px;
            background: url('https://cdn-m5yrsruzzfea.vultrcdn.com/storage/terpollyBot/text-bg-2.png');
            background-size: cover;
            background-repeat: no-repeat;
            
            span {
                margin-top: 20px;
                width: 295px;
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                font-size: 14px;
                color: #6F542A;
                line-height: 20px;
            }
        }
    }

    .guideStep3 {
        margin-top: 317px;
        
        .guideText {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            width: 355px;
            height: 76px;
            background: url('https://cdn-m5yrsruzzfea.vultrcdn.com/storage/terpollyBot/text-bg-3.png');
            background-size: cover;
            background-repeat: no-repeat;
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 14px;
            color: #6F542A;
            line-height: 20px;

            span {
                margin-top: -10px;
                padding: 0 22px;
            }
        }

        .btnGroup {
            padding-left: 10px;
            margin-top: 6px;
            text-align: left;

            div {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 70px;
                height: 74px;
                font-size: 10px;
                color: #6F542A;
                line-height: 14px;

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('https://cdn-m5yrsruzzfea.vultrcdn.com/storage/terpollyBot/btn-1.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: -1;
                }
            }

            img {
                margin-top: 10px;
            }
        }

        .startBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;

            .start {
                position: relative;
                display: flex;
                justify-content: center;
                width: 145px;
                height: 48px;
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                font-size: 18px;
                color: #6F542A;
                line-height: 40px;
                background: linear-gradient(111deg, #B6853F 0%, #B05431 100%);
                border-radius: 32px;
                overflow: hidden;
                z-index: 1;
    
                &::before {
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    content: '';
                    width: 145px;
                    height: 45px;
                    background: linear-gradient(111deg, #FFDF5B 0%, #FFAB38 100%);
                    border-radius: 32px;
                    z-index: -1;
                    transform: bottom 0.3s;
                }
    
                &:active {
                    &::before {
                        bottom: 4px;
                    }
                }
            }
        }
    }
}

@keyframes figureAnim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(-0);
    }
}
