.drawer {
    .customHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 26px;
            color: #6F542A;
            line-height: 37px;
        }
    }

    .context {
        margin-top: 10px;
        height: calc(100% - 50px);
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
        }

        .inviteNum {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 12px;
            color: #6F542A;
            line-height: 17px;
            background: #FFEBCB;
            border-radius: 18px;
        }

        .inviteStep {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 16px;
            color: #6F542A;
            line-height: 22px;

            span {
                margin-left: 28px;
            }

            .step1 {
                position: relative;
                display: flex;
                align-items: center;
                min-height: 92px;
                z-index: 1;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 92px;
                    z-index: -1;
                }

                span {
                    margin-top: 20px;
                }
            }

            .step2 {
                display: flex;
                align-items: center;
                position: relative;
                min-height: 92px;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 92px;
                    z-index: -1;
                }

                span {
                    display: inline-block;
                    margin-top: 25px;
                    width: 140px;
                }
            }

            .step3 {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 24px;
                width: 100%;
                min-height: 68px;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 68px;
                    z-index: -1;
                }
            }
        }
        
        .inviteBtn {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 36px;
            width: 100%;
            height: 56px;
            background: linear-gradient(111deg, #B6853F 0%, #B05431 100%);
            border-radius: 32px;
            overflow: hidden;
            cursor: pointer;
            z-index: 1;

            span {
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                font-size: 18px;
                color: #6F542A;
                line-height: 50px;
            }

            &::before {
                position: absolute;
                content: '';
                bottom: 10px;
                left: 0;
                width: 100%;
                height: 63px;
                background: linear-gradient(111deg, #FFDF5B 0%, #FFAB38 100%);
                border-radius: 28px;
                z-index: -1;
                transition: all 0.1s;
            }

            &:active {

                &::before {
                    bottom: 5px;
                }
            }
        }
    }

    :global {
        .ant-drawer-mask {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .ant-drawer-content-wrapper {
            box-shadow: none;
        }

        .ant-drawer-content {
            position: relative;
            width: 100%;
            background: linear-gradient( 180deg, #F1D9BB 0%, #FFFFFF 10%, #FFFFFF 100%);
            border-radius: 30px 30px 0px 0px;
            z-index: 1;

            &::after {
                display: block;
                content: '';
                border-radius: 30px 30px 0px 0px;
                border: 5px solid transparent;
                background: linear-gradient(180deg, #F1D9BB, #FFFFFF) border-box; /* 2 */
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);  /* 3 */
                -webkit-mask-composite: xor;  /* 4 */
                mask-composite: exclude;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        .ant-drawer-body {
            padding: 40px 29px 24px 24px;
        }
    }
}
