
.modal {

    .headerImg {
        position: absolute;
        top: -52px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .shadow {
        margin-top: 60px;
        width: 101px;
        height: 11px;
        background: #FDA53D;
        opacity: 0.6;
        filter: blur(8px);
    }

    .context {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        text-align: center;

        .title {
            margin-bottom: 14px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 26px;
            color: #6F542A;
            line-height: 37px;
        }

        .desc {
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 14px;
            color: #6F542A;
            line-height: 20px;
        }

        .btn {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 16px;
            width: 172px;
            height: 56px;
            background: linear-gradient(111deg, #B6853F 0%, #B05431 100%);
            border-radius: 32px;
            overflow: hidden;
            z-index: 1;

            span {
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                font-size: 18px;
                color: #6F542A;
                line-height: 50px;
            }

            &::before {
                position: absolute;
                bottom: 10px;
                left: 0;
                content: '';
                width: 172px;
                height: 63px;
                background: linear-gradient(111deg, #FFDF5B 0%, #FFAB38 100%);
                border-radius: 28px;
                z-index: -1;
                transition: bottom 0.3s;
            }

            &:active {
                &::before {
                    bottom: 5px;
                }
            }
        }
    }

    .closeBtn {
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
    }

    :global {

        .ant-modal-content {
            position: relative;
            width: 100%;
            padding: 0!important;
            background: linear-gradient( 180deg, #F1D9BB 0%, #FFFFFF 10%, #FFFFFF 100%);
            border-radius: 28px !important;
            z-index: 1;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: '';
                border-radius: 28px;
                border: 5px solid transparent;
                background: linear-gradient(180deg, #F1D9BB, #FFFFFF) border-box; /* 2 */
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);  /* 3 */
                -webkit-mask-composite: xor;  /* 4 */
                mask-composite: exclude;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        .ant-modal-body {
            position: relative;
            padding: 1px 15px 24px!important;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

.mask {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
