.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 1;
    overflow: hidden;

    .allLamplight {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background: url('/images/allLamplight.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        animation: goldCoinLamplight 1.5s linear infinite alternate-reverse;
    }

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: url('/images/bg2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: anim2 3s infinite linear;
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: url('/images/bg1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: anim 0.5s infinite linear;
        z-index: -1;
    }

    .header {
        padding: 12px 10px 0 0;

        .wallet {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .balance {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 120px;
                height: 44px;
                background: url('/images/balanceImg.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                span {
                    margin-right: 22px;
                    font-family: Alibaba-PuHuiTi, Alibaba-PuHuiTi;
                    font-weight: normal;
                    font-size: 12px;
                    color: #42413D;
                    line-height: 17px;
                }
            }
    
            .walletBtn {
                position: relative;
                width: 102px;
                height: 32px;
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                font-size: 12px;
                color: #6F542A;
                line-height: 25px;
                background: linear-gradient(111deg, #B6853F 0%, #B05431 100%);
                border-radius: 16px;
                overflow: hidden;
                z-index: 1;
    
                &::before {
                    position: absolute;
                    bottom: 6px;
                    left: 0;
                    content: '';
                    width: 102px;
                    height: 32px;
                    background: linear-gradient(111deg, #FFDF5B 0%, #FFAB38 100%);
                    border-radius: 16px;
                    z-index: -1;
                    transform: bottom 0.3s;
                }

                &:active {
                    &::before {
                        bottom: 3px;
                    }
                }
            }
        }
        
        .claimNum {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 44px;
            background: url('/images/claim.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            span {
                margin-left: 20px;
                font-family: Alibaba-PuHuiTi, Alibaba-PuHuiTi;
                font-weight: normal;
                font-size: 12px;
                color: #42413D;
                line-height: 17px;
            }
        }
    }

    .btnGroup {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-left: 10px;
        margin-top: 47px;
        text-align: left;

        div {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70px;
            height: 74px;
            font-size: 10px;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url('/images/btn-1.png');
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
            }
        }

        .rules {
            
            img {
                margin-top: 0px;
                margin-left: 12px;
            }
        }

        .record,
        .rank,
        .invitation {
            img {
                margin-top: 10px;
            }
        }
    }

    .goldCoin {
        position: absolute;
        right: 10px;
        top: 270px;
        z-index: -1;
        animation: goldCoinAnim 1.5s linear infinite alternate-reverse;
    }

    .animation {
        animation: translateAnim 2s linear forwards;
        img {
            transform-origin: center center;
            animation: rotateAnim 0.5s linear infinite;
        }
    }

    .homing {
        transform: translate(0, 0);
        opacity: 1;
    }

    .claimBtn {
        position: absolute;
        left: 50%;
        bottom: 30px;
        width: 175px;
        height: 65px;
        transform: translateX(-50%);
        background-image: url('/images/claim-1.png');
        background-size: cover;
        transition: background-image 0.3s;

        &:active {
            background-image: url('/images/claim-2.png');
        }
    }
}

@keyframes anim {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anim2 {
    25% {
        transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
    }
    50%, 100% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    75% {
        transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
    }
}

@keyframes goldCoinAnim {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes goldCoinLamplight {
    0% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotateAnim {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes translateAnim {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(-130px, -140px);
        opacity: 1;
    }

    100% {
        transform: translate(-130px, -140px);
        opacity: 0;
    }
}
