.drawer {
    .customHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 26px;
            color: #3C2E17;
            line-height: 37px;
        }
    }

    .context {
        margin-top: 16px;
        overflow: auto;
        height: calc(100% - 60px);
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 12px;
        color: #6F542A;
        line-height: 18px;

        &::-webkit-scrollbar {
            width: 0;
        }

        .labelName {
            font-weight: 500;
        }

        .start {
            color: #FF5531;
        }

        .first,
        .section {
            display: flex;
            flex-direction: column;
            row-gap: 18px;
        }

        .section {
            margin-top: 36px;
            padding-bottom: 22px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 16px;
            color: #3C2E17;
            line-height: 22px;
        }

        .rewardsCollection {
            margin-top: 24px;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                margin: 16px 0 0;
                padding: 0 0 0 20px;

                li {
                    font-family: PingFangSC, PingFang SC;
                    font-weight: 400;
                    font-size: 13px;
                    color: #6F542A;
                    line-height: 18px;
                }
            }

            .forExample {
                margin-top: 16px;
                padding-bottom: 22px;
                font-family: PingFangSC, PingFang SC;
                font-weight: 400;
                font-size: 12px;
                color: #6F542A;
                line-height: 17px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            span {
                color: #517BFF;
            }
        }

        .gameDuration {
            margin-top: 22px;

            ul, li {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin-top: 12px;
            }

            li {
                display: flex;
                column-gap: 10px;
                font-family: PingFangSC, PingFang SC;
                font-weight: 400;
                font-size: 13px;
                color: #6F542A;

                .phase {
                    font-weight: 500;
                    line-height: 18px;
                }

                .desc {
                    flex: 1;
                    margin-top: -3px;
                    line-height: 24px;
                }
            }
        }
    }

    :global {
        .ant-drawer-mask {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .ant-drawer-content-wrapper {
            box-shadow: none;
        }

        .ant-drawer-content {
            position: relative;
            width: 100%;
            background: linear-gradient( 180deg, #F1D9BB 0%, #FFFFFF 10%, #FFFFFF 100%);
            border-radius: 30px 30px 0px 0px;
            z-index: 1;

            &::after {
                display: block;
                content: '';
                border-radius: 30px 30px 0px 0px;
                border: 5px solid transparent;
                background: linear-gradient(180deg, #F1D9BB, #FFFFFF) border-box; /* 2 */
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);  /* 3 */
                -webkit-mask-composite: xor;  /* 4 */
                mask-composite: exclude;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        .ant-drawer-body {
            padding: 40px 29px 24px 24px;
        }
    }
}
