.drawer {
    .customHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 26px;
            color: #6F542A;
            line-height: 37px;
        }
    }

    .context {
        margin-top: 15px;
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        overflow: auto;
        
        &::-webkit-scrollbar {
            width: 0;
        }

        .prizeRow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;
            font-family: PingFangSC, PingFang SC;
            font-size: 14px;
            color: #6F542A;
            line-height: 18px;
            font-weight: 500;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .left {
                display: flex;
                align-items: center;
            }

            .num {
                margin-left: 12px;
                
            }
        }

        .loading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;

            .left {
                display: flex;
                align-items: center;
                column-gap: 8px;

                .img {
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    background: #EEEEEE;
                }

                .name {
                    width: 85px;
                    height: 18px;
                    background: #EEEEEE;
                }
            }

            .date {
                width: 131px;
                height: 18px;
                background: #EEEEEE;
            }
        }

        .empty {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            row-gap: 12px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 13px;
            color: #999999;
            line-height: 18px;
        }
    }

    :global {
        .ant-drawer-mask {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .ant-drawer-content-wrapper {
            box-shadow: none;
        }

        .ant-drawer-content {
            position: relative;
            width: 100%;
            background: linear-gradient( 180deg, #F1D9BB 0%, #FFFFFF 10%, #FFFFFF 100%);
            border-radius: 30px 30px 0px 0px;
            z-index: 1;

            &::after {
                display: block;
                content: '';
                border-radius: 30px 30px 0px 0px;
                border: 5px solid transparent;
                background: linear-gradient(180deg, #F1D9BB, #FFFFFF) border-box; /* 2 */
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);  /* 3 */
                -webkit-mask-composite: xor;  /* 4 */
                mask-composite: exclude;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        .ant-drawer-body {
            padding: 40px 29px 24px 24px;
        }
    }
}
